.DS_Store
fonts/fontawesome-webfont.eot
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.woff
fonts/fontawesome-webfont.woff2
fonts/FontAwesome.otf
styles/ui-grid.ttf
styles/ui-grid.woff
images/Logo_Colegio_Header.gif
images/Logo_MyVc_Header.gif
